* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    overscroll-behavior: none;
    overflow-x: hidden;
    /* outline: 1px solid blue; */
}

img {
    image-rendering: optimizeSpeed;
}

body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #232931;
}

nav {
    background-color: #232931;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}

.desktop-menu {
    gap: 2em;
}

.hideOnMobile {
    background-color: none;
}

nav li {
    height: 3.125em;
}

nav a {
    height: 100%;
    padding: 0 1.875em;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    border-radius: 7px;
}

nav li:first-child { 
    margin-right: auto;
}

.logo {
    font-family: "Audiowide", sans-serif;
    height: inherit;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    z-index: 999;
    background: linear-gradient(160deg, #393e46 60%, #4ecca3 60%);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: width 300ms ease;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    color: #ffffff;
    width: 100%;
}

.menuButton {
    display: none;
}

@media(min-width: 1080px) {
    nav {
        background-color: #232931;
        margin-left: 3em;
        margin-right: 3em;
    }

    nav a:hover {
        background-color: #4ecca3;
    }

    .footermenu a:hover {
        background-color: #4ecca3;
    }

    .builds {
        margin: 3em;
    }

    .builds--img {
        height: 400px;
        width: 400px;
    }

    .builds--cta:hover {
        background-color: #63ffcb;
    }
}

@media(max-width: 1079px) {
    .hideOnMobile {
        display: none;
    }

    .menuButton {
        display: block;
    }

    nav ul {
        justify-content: flex-end;
    }

    .logo {
        margin-right: auto;
    }

    .footermenu {
        flex-direction: column;
        align-items: center;
    }

    .builds {
        margin: 1em;
    }

    .builds--build {
        width: 100% !important;
    }

    .builds--img {
        height: auto;
        width: auto;
    }
}

@media(max-width: 400px) {
}

.builds--build {
    background-color: #393e46;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    width: min-content;
}

.builds--title {
    text-align: center;
    padding: 1em;
    font-size: x-large;
    color: #ffffff;
}

/* .builds--subtitle {
    padding: .25em 1em;
    font-size: 1em;
    color: #ffffff;
} */

.builds--desc {
    padding: .25em 1em;
    color: #ffffff;
}

.builds--img {
    border-radius: 7px;
}

.builds--cta {
    margin: 2em auto 2em auto;
    font-size: 1em;
    background-color: #4ecca3;
    padding: .5em .5em .5em .5em;
    border: none;
    border-radius: 7px;
    max-width: max-content;
    cursor: pointer;
}

footer {
    background-color: #393e46;
}

footer h1 {
    color: #ffffff;
    text-align: center;
    padding: 1.25em;
    font-size: 1.25em;
}

.footermenu {
    display: flex;
    justify-content: center;
}

.footermenu a {
    color: #ffffff;
    height: 3.125em;
    padding: 0 1.875em;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 7px;
}
